<section id='examples'>
  <div class='themes-wrapper bg-background h-screen w-full mx-auto p-0'>
    <div class='w-full h-full lg:grid lg:grid-cols-2 lg:gap-8'>
      <div class='flex items-center'>
        <div
          class='flex flex-col items-center justify-center h-full gap-6 w-[350px] mx-auto'
        >
          <div class='grid gap-2 text-center'>
            <h1 class='text-3xl font-bold'>Login</h1>
            <p class='text-balance text-muted-foreground'>
              Enter your email below to login to your account
            </p>
          </div>

          <div class='grid gap-4'>
            <div class='grid gap-2'>
              <label
                class='text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70'
                for='email'
              >
                Email
              </label>
              <input
                type='email'
                class='flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50'
                id='email'
                placeholder='m@example.com'
                required=''
              />
            </div>

            <div class='grid gap-2'>
              <div class='flex items-center gap-6'>
                <label
                  class='text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70'
                  for='password'
                >
                  Password
                </label>
                <a
                  class='ml-auto inline-block text-sm underline text-muted-foreground hover:text-foreground'
                  href='/forgot-password'
                >
                  Forgot your password?
                </a>
              </div>
              <input
                type='password'
                class='flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50'
                id='password'
                placeholder='Enter your password'
                required=''
              />
            </div>

            <div class='w-full flex justify-center'>
              <button
                type='button'
                onclick="window.location.href='/pages/dashboard'"
                class='inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2 w-3/4 max-w-[200px]'
              >
                Login
              </button>
            </div>


          </div>

          <div class='mt-4 text-center text-sm'>
            Don't have an account?
            <a
              class='underline text-muted-foreground hover:text-foreground'
              href='/auth/signup'
            >Sign up</a>
          </div>
        </div>
      </div>

      <div
        class='flex items-center justify-center h-[calc(100vh-100px)] bg-muted p-4 rounded-md overflow-hidden place-self-center'
      >
        <img
          alt='Image'
          loading='lazy'
          width='1920'
          height='1080'
          decoding='async'
          data-nimg='1'
          class='w-full h-full'
          style='color: transparent'
          src='/images/accelerator_logo.svg'
        />
      </div>
    </div>
  </div>
</section>