<!-- Generic Table Page Template -->
<div class="max-w-7xl mx-auto rounded-xl overflow-hidden flex flex-col mx-4 my-4">

  <!-- Page Header -->
  {{> page-header title=title description="Manage and organize all system entities efficiently"}}



  {{> table}}
</div>

{{#if showBulkActions}}
<!-- Bulk Action Modal -->
{{> bulk-action-modal modalId="bulkActionModal" titleId="bulkActionTitle" messageId="bulkActionMessage" confirmBtnId="bulkActionConfirmBtn"}}
{{/if}}

<!-- Include generic table JavaScript -->
<script src="/js/table.js?v=1"></script>