<!-- Filter Navigation Bar -->
<nav class="bg-white text-slate-800 px-4 border-b border-gray-200 flex items-center justify-between min-h-10">
  <!-- Left Section: Icon and Filter Links -->
  <div class="flex items-center">
    <!-- Filter Icon -->
    <div class="w-8 h-8 mr-4 flex items-center justify-center"><svg xmlns="http://www.w3.org/2000/svg" width="24"
        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" class="lucide lucide-panel-right-icon lucide-panel-right text-gray-400 w-5 h-5">
        <rect width="18" height="18" x="3" y="3" rx="2" />
        <path d="M15 3v18" />
      </svg></div>
     <!-- Filter Links -->
     <a href="/todos" class="ml-4 mr-4 {{#unless query.status}}text-black border-t-4 border-purple-500 font-medium{{/unless}} {{#if query.status}}text-gray-400{{/if}} text-sm leading-[2.7]" hx-get="/todos" hx-target="#todosTableContainer">All Todos</a>
     <a href="/todos?status=pending" class="mr-4 {{#if (eq query.status 'pending')}}text-black border-t-4 border-purple-500 font-medium{{else}}text-gray-400{{/if}} text-sm leading-[2.7]" hx-get="/todos?status=pending" hx-target="#todosTableContainer">Pending</a>
     <a href="/todos?status=completed" class="mr-4 {{#if (eq query.status 'completed')}}text-black border-t-4 border-purple-500 font-medium{{else}}text-gray-400{{/if}} text-sm leading-[2.7]" hx-get="/todos?status=completed" hx-target="#todosTableContainer">Completed</a>
  </div>
  <!-- Right Section: Create Todo Button -->
  <div>
    <!-- Create Todo Button -->
    <button onclick="openCreateTodoModal()" class="flex items-center gap-2 px-3 py-2 rounded-md text-gray-400 text-sm leading-[2.7] hover:bg-purple-200 hover:text-purple-500 focus:outline-none">
      <svg class="w-4 h-4 lucide lucide-plus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M5 12h14"></path>
        <path d="M12 5v14"></path>
      </svg>
      <span class="text-sm">Create Todo</span>
    </button>
  </div>
</nav>
