<li>
   <a href="{{href}}" title="{{title}}" onclick="closeMobileSidebar()" class="flex items-center px-3 py-2 rounded-md {{#if (eq currentPage page)}}bg-primary/20 text-primary font-bold{{/if}} text-muted-foreground hover:bg-primary/10 hover:text-primary">
    {{> @partial-block }}
    <span class="{{spanClass}}">{{text}}</span>
  </a>
</li>