<li>
  <a href="{{href}}" title="{{title}}" class="flex items-center px-3 py-2 rounded-md {{#if (eq currentPage page)}}bg-accent text-foreground font-bold{{/if}} text-muted-foreground hover:bg-accent hover:text-accent-foreground">
    {{> @partial-block }}
    <span class="{{spanClass}}">{{text}}</span>
  </a>
</li>