<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="/public/css/main.css" rel="stylesheet">
    <script src="/public/js/htmx.min.js"></script>
</head>
<body class="min-h-screen flex bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">
    <!-- Sidebar will be loaded here -->
    <div id="navigation">
        {{> navigation}}
    </div>

    <!-- Main Content -->
    <div class="flex-1 p-4 xl:px-8">
        <div class="container max-w-6xl flex h-full flex-col gap-4 px-0 lg:gap-6">
            {{{body}}}
        </div>
    </div>
    
    <script src="/public/js/main.js"></script>
</body>
</html>