<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-6">
  {{#each portfolio}}
    {{> portfolio-card title=title description=description tags=tags category=category image=image votes=votes isPublic=isPublic id=id}}
  {{/each}}
</div>