<div
  style="
    position: absolute;
    width: 100%;
    left: 0px;
    top: 658px;
    visibility: visible;
  "
>
  <div class="flex flex-col gap-3 pb-3">
    <div
      class="flex w-full flex-col items-end justify-end gap-1 group mt-3"
      data-event-id="y5lT4qH40CaoWG7pxs3ybK"
    >
      <div class="flex flex-col items-end max-w-[90%]">
        <div class="w-full flex justify-between items-center gap-[8px]">
          <div>
            <div class="flex gap-[4px] items-center">
              <span
                class="text-[var(--text-secondary)] text-sm leading-[22px] truncate"
              ></span>
            </div>
          </div>
          <div
            class="flex items-center justify-end gap-[2px] overflow-hidden invisible group-hover:visible"
          >
            <div
              class="flex h-7 w-7 items-center justify-center cursor-pointer rounded-md hover:bg-[var(--fill-tsp-gray-main)]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-copy size-5 w-4 h-4 text-[var(--icon-secondary)]"
              >
                <rect width="14" height="14" x="8" y="8" rx="2" ry="2"></rect>
                <path
                  d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"
                ></path>
              </svg>
            </div>
            <div
              class="float-right transition text-[12px] text-[var(--text-tertiary)] whitespace-nowrap"
            >
              10/28
            </div>
          </div>
        </div>
      </div>
      <div class="flex relative flex-col gap-2 items-end">
        <div
          class="relative flex items-center rounded-[12px] overflow-hidden bg-[var(--fill-white)] dark:bg-[var(--fill-tsp-white-main)] p-3 ltr:rounded-br-none rtl:rounded-bl-none border border-[var(--border-main)] dark:border-0"
        >
          <div class="transition-all duration-300">
            <span
              class="text-[var(--text-primary)] u-break-words whitespace-pre-wrap"
              >continue</span
            >
          </div>
        </div>
        <div
          class="w-full flex flex-col flex-wrap gap-2 justify-start items-end"
        ></div>
      </div>
    </div>
  </div>
</div>

<div
  style="
    position: absolute;
    width: 100%;
    left: 0px;
    top: 1297px;
    visibility: visible;
  "
>
  <div class="flex flex-col gap-3 pb-3">
    <div class="flex flex-col">
      <div
        class="text-sm w-full clickable flex gap-2 justify-between group/header truncate text-[var(--text-primary)]"
        data-event-id="QBCHA5x7oTMgj0dK7WX4Qq-1"
      >
        <div class="flex flex-row gap-2 justify-center items-center truncate">
          <div
            class="w-4 h-4 flex-shrink-0 flex items-center justify-center border-[var(--border-dark)] rounded-[15px] bg-[var(--text-disable)] dark:bg-[var(--fill-tsp-white-dark)] border-0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="10"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-check text-[var(--icon-white)] dark:text-[var(--icon-white-tsp)]"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
          </div>
          <div
            class="truncate font-medium"
            title="Research AI automation agency trends and best practices"
            aria-description="Research AI automation agency trends and best practices"
          >
            Research AI automation agency trends and best practices
          </div>
          <span class="flex-shrink-0 flex"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-down transition-transform duration-300 w-4 h-4 rotate-180"
            >
              <path d="m6 9 6 6 6-6"></path></svg
          ></span>
        </div>
        <div
          class="float-right transition text-[12px] text-[var(--text-tertiary)] invisible group-hover/header:visible"
        >
          10/28
        </div>
      </div>
      <div class="flex">
        <div class="w-[24px] relative">
          <div
            class="border-l border-dashed border-[var(--border-dark)] absolute start-[8px] top-0 bottom-0"
            style="height: calc(100% + 14px)"
          ></div>
        </div>
        <div
          class="flex flex-col gap-3 flex-1 min-w-0 overflow-hidden pt-2 transition-[max-height,opacity] duration-150 ease-in-out max-h-[100000px] opacity-100"
        >
          <div
            class="flex flex-col gap-2 w-full"
            data-event-id="s1xPGVq0EJlyA1wQWF6ASD"
          >
            <p class="text-[var(--text-secondary)] text-[14px]">
              I learned to target clients with a professional style, focusing on
              broad AI automation services. I'll research best practices, key
              slides, and market trends for a compelling pitch deck.
            </p>
          </div>
          <div
            class="flex items-center group gap-2 w-full"
            data-event-id="AaBHVCzRXSXSoYUifuO5WA"
          >
            <div class="flex-1 min-w-0 h-[28px]">
              <div
                class="rounded-[15px] px-[10px] py-[3px] border border-[var(--border-light)] bg-[var(--fill-tsp-gray-main)] inline-flex max-w-full gap-[4px] items-center relative h-full overflow-hidden clickable hover:bg-[var(--fill-tsp-gray-dark)] dark:hover:bg-white/[0.02]"
                data-event-id="AaBHVCzRXSXSoYUifuO5WA"
              >
                <div
                  class="w-[21px] inline-flex items-center flex-shrink-0 text-[var(--text-primary)]"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 18 18"
                    fill="none"
                    style="min-width: 20px; min-height: 20px"
                  >
                    <g filter="url(#:r559:_filter0_ii_1527_83590)">
                      <path
                        d="M2 4.7C2 3.20883 3.20883 2 4.7 2H13.3C14.7912 2 16 3.20883 16 4.7V13.3C16 14.7912 14.7912 16 13.3 16H4.7C3.20883 16 2 14.7912 2 13.3V4.7Z"
                        fill="url(#:r559:_paint0_linear_1527_83590)"
                      ></path>
                    </g>
                    <path
                      d="M2.42857 4.7C2.42857 3.44552 3.44552 2.42857 4.7 2.42857H13.3C14.5545 2.42857 15.5714 3.44552 15.5714 4.7V13.3C15.5714 14.5545 14.5545 15.5714 13.3 15.5714H4.7C3.44552 15.5714 2.42857 14.5545 2.42857 13.3V4.7Z"
                      stroke="#B9B9B7"
                      stroke-width="0.857143"
                    ></path>
                    <circle
                      cx="8.625"
                      cy="8.625"
                      r="3"
                      stroke="#535350"
                      stroke-width="1.2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></circle>
                    <path
                      d="M10.875 10.875L12.375 12.375"
                      stroke="#535350"
                      stroke-width="1.2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <defs>
                      <filter
                        id=":r559:_filter0_ii_1527_83590"
                        x="1.5"
                        y="1.5"
                        width="15"
                        height="15"
                        filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB"
                      >
                        <feFlood
                          flood-opacity="0"
                          result="BackgroundImageFix"
                        ></feFlood>
                        <feBlend
                          mode="normal"
                          in="SourceGraphic"
                          in2="BackgroundImageFix"
                          result="shape"
                        ></feBlend>
                        <feColorMatrix
                          in="SourceAlpha"
                          type="matrix"
                          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                          result="hardAlpha"
                        ></feColorMatrix>
                        <feOffset dx="1" dy="1"></feOffset>
                        <feGaussianBlur stdDeviation="0.25"></feGaussianBlur>
                        <feComposite
                          in2="hardAlpha"
                          operator="arithmetic"
                          k2="-1"
                          k3="1"
                        ></feComposite>
                        <feColorMatrix
                          type="matrix"
                          values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.6 0"
                        ></feColorMatrix>
                        <feBlend
                          mode="normal"
                          in2="shape"
                          result="effect1_innerShadow_1527_83590"
                        ></feBlend>
                        <feColorMatrix
                          in="SourceAlpha"
                          type="matrix"
                          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                          result="hardAlpha"
                        ></feColorMatrix>
                        <feOffset dx="-1" dy="-1"></feOffset>
                        <feGaussianBlur stdDeviation="0.25"></feGaussianBlur>
                        <feComposite
                          in2="hardAlpha"
                          operator="arithmetic"
                          k2="-1"
                          k3="1"
                        ></feComposite>
                        <feColorMatrix
                          type="matrix"
                          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
                        ></feColorMatrix>
                        <feBlend
                          mode="normal"
                          in2="effect1_innerShadow_1527_83590"
                          result="effect2_innerShadow_1527_83590"
                        ></feBlend>
                      </filter>
                      <linearGradient
                        id=":r559:_paint0_linear_1527_83590"
                        x1="9"
                        y1="2"
                        x2="9"
                        y2="16"
                        gradientUnits="userSpaceOnUse"
                      >
                        <stop stop-color="white" stop-opacity="0"></stop>
                        <stop offset="1" stop-opacity="0.16"></stop>
                      </linearGradient>
                    </defs>
                  </svg>
                </div>
                <div
                  title="SearchingAI automation agency pitch deck structure, key slides for AI service agency presentation, AI automation market trends and statistics for pitch deck"
                  class="max-w-[100%] truncate text-[var(--text-secondary)] relative top-[-1px]"
                >
                  <span class="text-[13px]">Searching</span
                  ><span
                    class="text-[12px] font-mono ms-[6px] text-[var(--text-tertiary)]"
                    >AI automation agency pitch deck structure, key slides for
                    AI service agency presentation, AI automation market trends
                    and statistics for pitch deck</span
                  >
                </div>
              </div>
            </div>
            <div
              class="float-right transition text-[12px] text-[var(--text-tertiary)] invisible group-hover:visible"
            >
              10/28
            </div>
          </div>
          <div
            class="flex items-center group gap-2 w-full"
            data-event-id="0ciuMfigU08zVWdSndx71l"
          >
            <div class="flex-1 min-w-0 h-[28px]">
              <div
                class="rounded-[15px] px-[10px] py-[3px] border border-[var(--border-light)] bg-[var(--fill-tsp-gray-main)] inline-flex max-w-full gap-[4px] items-center relative h-full overflow-hidden clickable hover:bg-[var(--fill-tsp-gray-dark)] dark:hover:bg-white/[0.02]"
                data-event-id="0ciuMfigU08zVWdSndx71l"
              >
                <div
                  class="w-[21px] inline-flex items-center flex-shrink-0 text-[var(--text-primary)]"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 18 18"
                    fill="none"
                    style="min-width: 20px; min-height: 20px"
                  >
                    <g filter="url(#:r55d:_filter0_ii_1527_83610)">
                      <rect
                        x="1.5"
                        y="1.5"
                        width="15"
                        height="15"
                        rx="7.5"
                        fill="url(#:r55d:_paint0_linear_1527_83610)"
                      ></rect>
                    </g>
                    <rect
                      x="1.92857"
                      y="1.92857"
                      width="14.1429"
                      height="14.1429"
                      rx="7.07143"
                      stroke="#B9B9B7"
                      stroke-width="0.857143"
                    ></rect>
                    <path
                      d="M7.52172 7.76297C7.56208 7.65057 7.65057 7.56208 7.76297 7.52172L11.2014 6.28681C11.5197 6.17249 11.8274 6.48026 11.7131 6.79854L10.4776 10.2365C10.4373 10.3488 10.3488 10.4373 10.2365 10.4776L6.79854 11.7131C6.48026 11.8274 6.17249 11.5197 6.28681 11.2014L7.52172 7.76297Z"
                      stroke="#535350"
                      stroke-width="1.2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <defs>
                      <filter
                        id=":r55d:_filter0_ii_1527_83610"
                        x="1"
                        y="1"
                        width="16"
                        height="16"
                        filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB"
                      >
                        <feFlood
                          flood-opacity="0"
                          result="BackgroundImageFix"
                        ></feFlood>
                        <feBlend
                          mode="normal"
                          in="SourceGraphic"
                          in2="BackgroundImageFix"
                          result="shape"
                        ></feBlend>
                        <feColorMatrix
                          in="SourceAlpha"
                          type="matrix"
                          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                          result="hardAlpha"
                        ></feColorMatrix>
                        <feOffset dx="1" dy="1"></feOffset>
                        <feGaussianBlur stdDeviation="0.25"></feGaussianBlur>
                        <feComposite
                          in2="hardAlpha"
                          operator="arithmetic"
                          k2="-1"
                          k3="1"
                        ></feComposite>
                        <feColorMatrix
                          type="matrix"
                          values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.6 0"
                        ></feColorMatrix>
                        <feBlend
                          mode="normal"
                          in2="shape"
                          result="effect1_innerShadow_1527_83610"
                        ></feBlend>
                        <feColorMatrix
                          in="SourceAlpha"
                          type="matrix"
                          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                          result="hardAlpha"
                        ></feColorMatrix>
                        <feOffset dx="-1" dy="-1"></feOffset>
                        <feGaussianBlur stdDeviation="0.25"></feGaussianBlur>
                        <feComposite
                          in2="hardAlpha"
                          operator="arithmetic"
                          k2="-1"
                          k3="1"
                        ></feComposite>
                        <feColorMatrix
                          type="matrix"
                          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
                        ></feColorMatrix>
                        <feBlend
                          mode="normal"
                          in2="effect1_innerShadow_1527_83610"
                          result="effect2_innerShadow_1527_83610"
                        ></feBlend>
                      </filter>
                      <linearGradient
                        id=":r55d:_paint0_linear_1527_83610"
                        x1="9"
                        y1="1.5"
                        x2="9"
                        y2="16.5"
                        gradientUnits="userSpaceOnUse"
                      >
                        <stop stop-color="white" stop-opacity="0"></stop>
                        <stop offset="1" stop-opacity="0.16"></stop>
                      </linearGradient>
                    </defs>
                  </svg>
                </div>
                <div
                  title="Browsinghttps://www.youtube.com/watch?v=KAJPWyVxYMo"
                  class="max-w-[100%] truncate text-[var(--text-secondary)] relative top-[-1px]"
                >
                  <span class="text-[13px]">Browsing</span
                  ><span
                    class="text-[12px] font-mono ms-[6px] text-[var(--text-tertiary)]"
                    >https://www.youtube.com/watch?v=KAJPWyVxYMo</span
                  >
                </div>
              </div>
            </div>
            <div
              class="float-right transition text-[12px] text-[var(--text-tertiary)] invisible group-hover:visible"
            >
              10/28
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
