<!-- Billing Management Content -->
<div class="max-w-7xl mx-auto rounded-xl overflow-hidden flex flex-col mx-4 my-4">

   <!-- Page Header -->
   {{> page-header title="Billing Management" description="Manage and organize all system billing efficiently"}}

    {{> table}}
  </div>

  <script src="/js/table.js?v=1"></script>

