<!-- Billing Management Content -->
<div class="max-w-7xl mx-auto rounded-xl overflow-hidden flex flex-col mx-4 my-4">

  <!-- Page Header -->
  <header class="sticky top-0 z-20 text-card-foreground p-5">
   <!-- Page Title and Description -->
   <div class="mb-6 flex justify-between">

     <div class="text-left">
       <h1 class="text-3xl font-bold text-card-foreground mb-2">Billing Management</h1>
       <p class="text-muted-foreground">Manage and organize all system billing efficiently</p>
     </div>

   </div>
    <div class="max-w-7xl mx-auto flex items-center gap-4">
    </div>
   </header>

    {{> table}}
  </div>

  <script src="/js/table.js?v=1"></script>

