<!-- Business Plan Management Content -->
<div class="max-w-7xl mx-auto rounded-xl overflow-hidden flex flex-col mx-4 my-4">

  <!-- Page Header -->
  <header class="sticky top-0 z-20 text-card-foreground p-5 border-b border-border">
   <!-- Page Title and Description -->
   <div class="mb-6 flex justify-between">

     <div class="text-left">
       <h1 class="text-3xl font-bold text-card-foreground mb-2">Business Plan Management</h1>
       <p class="text-muted-foreground">Manage and organize all system business-plan efficiently</p>
     </div>

   </div>
    <div class="max-w-7xl mx-auto flex items-center gap-4">
    </div>
   </header>

   {{> table}}
 </div>
{{!-- these are the filter links for the table --}}
    <a id="all-business-plan-btn" href="/admin/table-pages/business-plan" hx-get="/admin/table-pages/business-plan" hx-target="#business-planTableContainer" class="text-foreground font-medium text-xs leading-[2.5] group-hover:text-foreground hover:text-foreground group-hover:font-medium hover:font-medium">All Business Plan</a>
  </div>
  <div class="flex flex-col items-center justify-center group">
    <div class="border-t-4 border-primary w-6 rounded-full opacity-0 group-hover:opacity-100"></div>
    <a id="active-business-plan-btn" href="/admin/table-pages/business-plan?status=active" hx-get="/admin/table-pages/business-plan?status=active" hx-target="#business-planTableContainer" class="text-muted-foreground text-xs leading-[2.5] group-hover:text-foreground hover:text-foreground group-hover:font-medium hover:font-medium">Active</a>
  </div>
  <div class="flex flex-col items-center justify-center group">
    <div class="border-t-4 border-primary w-6 rounded-full opacity-0 group-hover:opacity-100"></div>
    <a id="inactive-business-plan-btn" href="/admin/table-pages/business-plan?status=inactive" hx-get="/admin/table-pages/business-plan?status=inactive" hx-target="#business-planTableContainer" class="text-muted-foreground text-xs leading-[2.5] group-hover:text-foreground hover:text-foreground group-hover:font-medium hover:font-medium">Inactive</a>
  </div>
</div>