<!-- Content Management Content -->
<div class="max-w-7xl mx-auto rounded-xl overflow-hidden flex flex-col mx-4 my-4">

   <!-- Page Header -->
   {{> page-header title="Content Management" description="Manage and organize all system content efficiently"}}

     {{> table}}
  </div>