<!-- Learning Content Management Content -->
<div class="max-w-7xl mx-auto rounded-xl overflow-hidden flex flex-col mx-4 my-4">

   <!-- Page Header -->
   {{> page-header title="Learning Content Management" description="Manage and organize all system learning content efficiently"}}

   {{> table}}
 </div>
{{!-- these are the filter links for the table --}}
    <a id="all-learning-content-btn" href="/admin/table-pages/learning-content" hx-get="/admin/table-pages/learning-content" hx-target="#learning-contentTableContainer" class="text-foreground font-medium text-xs leading-[2.5] group-hover:text-foreground hover:text-foreground group-hover:font-medium hover:font-medium">All Learning Content</a>
  </div>
  <div class="flex flex-col items-center justify-center group">
    <div class="border-t-4 border-primary w-6 rounded-full opacity-0 group-hover:opacity-100"></div>
    <a id="published-learning-content-btn" href="/admin/table-pages/learning-content?status=published" hx-get="/admin/table-pages/learning-content?status=published" hx-target="#learning-contentTableContainer" class="text-muted-foreground text-xs leading-[2.5] group-hover:text-foreground hover:text-foreground group-hover:font-medium hover:font-medium">Published</a>
  </div>
  <div class="flex flex-col items-center justify-center group">
    <div class="border-t-4 border-primary w-6 rounded-full opacity-0 group-hover:opacity-100"></div>
    <a id="draft-learning-content-btn" href="/admin/table-pages/learning-content?status=draft" hx-get="/admin/table-pages/learning-content?status=draft" hx-target="#learning-contentTableContainer" class="text-muted-foreground text-xs leading-[2.5] group-hover:text-foreground hover:text-foreground group-hover:font-medium hover:font-medium">Draft</a>
  </div>
</div>