<!-- Pitchdeck Management Content -->
<div class="max-w-7xl mx-auto rounded-xl overflow-hidden flex flex-col mx-4 my-4">

   <!-- Page Header -->
   {{> page-header title="Pitchdeck Management" description="Manage and organize all system pitchdeck efficiently"}}

   {{> table}}
 </div>
{{!-- these are the filter links for the table --}}
    <a id="all-pitchdeck-btn" href="/admin/table-pages/pitchdeck" hx-get="/admin/table-pages/pitchdeck" hx-target="#pitchdeckTableContainer" class="text-foreground font-medium text-xs leading-[2.5] group-hover:text-foreground hover:text-foreground group-hover:font-medium hover:font-medium">All Pitchdeck</a>
  </div>
  <div class="flex flex-col items-center justify-center group">
    <div class="border-t-4 border-primary w-6 rounded-full opacity-0 group-hover:opacity-100"></div>
    <a id="active-pitchdeck-btn" href="/admin/table-pages/pitchdeck?status=active" hx-get="/admin/table-pages/pitchdeck?status=active" hx-target="#pitchdeckTableContainer" class="text-muted-foreground text-xs leading-[2.5] group-hover:text-foreground hover:text-foreground group-hover:font-medium hover:font-medium">Active</a>
  </div>
  <div class="flex flex-col items-center justify-center group">
    <div class="border-t-4 border-primary w-6 rounded-full opacity-0 group-hover:opacity-100"></div>
    <a id="inactive-pitchdeck-btn" href="/admin/table-pages/pitchdeck?status=inactive" hx-get="/admin/table-pages/pitchdeck?status=inactive" hx-target="#pitchdeckTableContainer" class="text-muted-foreground text-xs leading-[2.5] group-hover:text-foreground hover:text-foreground group-hover:font-medium hover:font-medium">Inactive</a>
  </div>
</div>